---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import
        "bourbon/bourbon",
        "base/base",
        "neat/neat"
;

html, body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    font-size:14px;
    
    @include media($medium-screen) {
        font-size: 16px;
    }
    
    @include media($large-screen) {
        font-size: 18px;
    }

}


header {
    background-color: $dark-brown;
    background-image: url('../images/header.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    width: 100%;
    height:100%;
    
    @include media($medium-screen) {
        background-size: 60%;
    }
    
    @include media($large-screen) {
        background-size: 50%;
    }    
}