---
# Only the main Sass file needs front matter
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import
        "bourbon/bourbon",
        "base/base",
        "neat/neat"
;

html, body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    
    font-size:14px;
    
    @include media($medium-screen) {
        font-size: 16px;
    }
    
    @include media($large-screen) {
        font-size: 18px;
    }    
}

header {
    background-color: $dark-brown;
    background-image: url('../images/header.svg'), 
    linear-gradient(to right, rgba($dark-brown, 0.8), rgba($dark-brown, 0.8));
    /*url('../images/jacob_line_2.jpg');*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%, 100%;
    width: 100%;
    height:100%;
    
    a {
        margin-top:80vh;
    }
   
    
    @include media($medium-screen) {
        background-size: 60%, 100%, cover;
    }
    
    @include media($large-screen) {
        background-size: 50%, 100%, cover;
    }    
}

footer {
    width: 100%;
    height:50%;
    background: $light-red;   
    background-image: url('../images/heart.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3%;     
}


section {
    padding:5em 0;
}

section#heart {
    width: 100%;
    height:16em;    
    background-color: $light-red;
    background-image: url('../images/heart-j+l.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6em; 
}

section#transport {
    
    #map {
        height:70vh;
        width:100%;
    } 
    
    .address {
        @include media($medium-screen) {
            @include span-columns(4);
            &:first-child {
                @include shift(2); 
            }
        }        
    }   
    
}

section#dresscode {
    background-color:$light-red;
}

section#toastmaster {
    color:#fff;
    background-color:$dark-brown;
}

section#photo {
    background:url('../images/jacob_line_1.jpg');
    background-size: cover;
    background-position: center;
    height:80vh;
}
section#splitter1 {
    height: 80%;
    background-color: $dark-brown;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

section#program .container .row div {
    
    @include span-columns(11);
    @include shift(1); 
 
    @include media($medium-screen) {
        @include span-columns(4);
        @include shift(4); 
    }
    
    @include media($large-screen) {
        @include span-columns(4);
        @include shift(4); 
    }  
    
        
   
}



.row { @include row(); }

.container { @include outer-container(); }

.span6of12 { 
    @include span-columns(6);
    @include shift(3);    
}


.span8of12 { 
    @include span-columns(8);
    @include shift(2);    
}

.span10of12 { 
    @include span-columns(10);
    @include shift(1);    
}



.button {
    @include transition(all $base-duration $base-timing);
    
    display: inline-block;
    border: 2px $dark-brown solid;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    color: $dark-brown;
    border-radius: 1.2em * 5;
    line-height: 1;
    padding: 0.5em 3em;
    
    &:hover {
        background-color: $dark-brown;
        color: #fff;
    }
}
.button.button_small {
    font-size:0.8em;
}

.button.button_inverse {
    border-color:#fff;
    color:#fff;
    
    &:hover {
        background-color: #fff;
        color: $dark-brown;
    }    
}

@import "nav";