section#gallery {

    #pictures {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
 
        img { 
            width:50%;
            padding:5px;
            transition: .8s opacity;

            @include media($medium-screen) {
                width:20%;
            }                
        }

        &:hover img {
            opacity: 0.3;
        } 

        &:hover img:hover {
            opacity: 1;
            cursor: pointer;
        }               
    }

    #overlay{
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: none;

        //display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 80%;
            max-height: 80%;

            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
        }

        #close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
            transition: all 300ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #fff;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

        }

        #prev, #next {
            position: absolute;
            display:block;
            width:40%;
            height:100%;
            cursor: pointer;
            color:#fff;
            font-size:2em;
            opacity: 0.3;
            transition: all 300ms ease-in-out;
            line-height: 100vh;

            &:hover {
                opacity: 1;
            }
        }
        #next {
            text-align: right;
            right:32px;
        }

        #prev {
            text-align: left;
            left:32px;
        }
    }

}

